# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
terraform.rc
.terraformrc

# AWS
.aws/
aws-exports.js

# Lambda artifacts
*.zip
lambda_function.py

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db
.codemie
.codemie.*
.idea
