# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
terraform.rc
.terraformrc

# AWS
.aws/
aws-exports.js

# Lambda artifacts
*.zip
*.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db